<!-- si hay un error se muestra -->
<div th:fragment="error" th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <strong th:text="${error}"></strong>
</div>

<!-- mensaje de exito -->
<div th:fragment="exito" th:if="${exito}" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <strong th:text="${exito}"></strong>
</div>

<!-- HAY QUE AGREGAR ESTO EN LAS VISTAS
    <div th:replace="/fragmentos/mensajes :: error"></div>
    <div th:replace="/fragmentos/mensajes :: exito"></div> 
-->