
  <!--Container quienes somos-->

  <div th:fragment="quienesSomos" class="container ; margin-left: 0px; col-sm-12 text-center" >
    <h2 class="main__title">Quienes somos?</h2>
    <a name="ancla-1">
    <p class="main_txt">Somos una empresa, dedicada a ofrecer productos, contenidos, servicios y tips.
     Pensando en el usuario, redefiniendo el concepto, formando pensamientos positivos, sonrisas y alegria.</p>
    <h2 class="main__title">Vision</h2>
    <p class="main_txt">Consolidarnos en todo nivel, decidimos diseñar una nueva app para los rosarinos, estábamos seguros de que no era posible hacerlo sin tu ayuda. </p>
    <p class="main_txt">Queríamos comprender plenamente las necesidades de nuestros vecinos y para lograrlo, debíamos trabajar juntos.</p>
     <p class="main_txt">Así que colaboramos con comerciantes y clientes de la ciudad para diseñar, evaluar y construir tu nueva experiencia con la aplicación, el resultado es una app mejorada.</p>
    <!--  , caracterizandonos por nuestra calidad y atencion al cliente-->
 </div>