<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <link href="/css/error.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="mainbox">
    <i class="far fa-question-circle fa-spin"></i>
    <div class="msg">
      <div class="err" th:text="${codigo}"></div>
      <p th:text="${mensaje == null ? 'Intenta nuevamete' : mensaje}">
        Quizas esta pagina se movio? Se elimino? Nunca existio en primer lugar?
      </p>
      <p>Vuelve al <a th:href="@{/}">inicio</a> he intenta desde ahi.</p>
    </div>
  </div>
</body>

</html>