body {
  background-color:  #2f3338;
}
  
.mainbox {
  background-color: #2f3338;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;    
  top: 15%;
  color: #ffffff;
}
  
.err {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  position: initial;
  font-size: 11rem;
  left: 20%;
  top: 8%;
}
  

.msg {
  color: #ffffff;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position:absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}
  
a {
  text-decoration: none;
  color: white;
}
  
a:hover {
  text-decoration: underline;
}