
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  min-height: 100%;
  position: relative;
}

body { 
  
  margin: 0%;
  margin-bottom: 10px;

  /* Ubicación de la imagen */
  
  background-image: url(/img/atardecer.jfif);
  
  /* Para dejar la imagen de fondo centrada, vertical y
  
  horizontalmente */
  
  background-position:center center;
  
  /* Para que la imagen de fondo no se repita */
  
  background-repeat: no-repeat;
  
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  
  background-attachment: fixed;
  
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  
  background-size:cover;
  
  /* Se muestra un color de fondo mientras se está cargando la imagen
  
  de fondo o si hay problemas para cargarla */
  
  background-color: #669996;
  
}

/** estilo de perfil comercio**/
.header{
  text-align: center;
  padding:20px;
  background-image: url(/);
  background-color:black;
  background-position:center center;
  background-size:cover;
  
}
.avatar{
  
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-name{
  font-size: 18px;
  margin-top: 14px;
  color: #fff;
}
.socials {
  justify-content: center;
  background-position:center;
  align-items: center;
/*            list-style: none;*/
  text-align: center;
  padding: 20px; 
  background-color:white;
}
.socials, li{
  display: inline-block;
  font-weight:bold;
  text-align:center;
}
            
.btnC{
  position:absolute;
  text-align:right;
  float:right;
  height:200px;
}
/** fin estilo de perfil comercio**/


footer {
  background-color: black;
  position:relative;
  bottom: 0;
  width: 100%;
  color: white;
  top:2rem;
}


.main__title{
  color:white;
}
      
.card{
  border-style:solid;
  margin-left:5rem; 
  margin-right:5rem;
  margin-top:1rem;
  float: none;
}

.container{
  padding: 2rem;
  height: 100%;
  text-align: center;
  background-color:darkslategray;
  color: white;
  width: 100%;
  top:2rem;
  margin:0%;
}

.footer-{
  padding: 4rem;
  margin:0%
}
  /*
      .carousel-inner{ 
          height: 25rem; }
      .arouselExampleIndicators{
          height: 25rem; }
          
        
            .carousel, .carousel-inner{
              height:25rem;
            }*/
