
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  /* Ubicación de la imagen */
  

  
  /* Para dejar la imagen de fondo centrada, vertical y
  
  horizontalmente */
  
  background-position:center center;
  
  /* Para que la imagen de fondo no se repita */
  
  background-repeat: no-repeat;
  
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  
  background-attachment: fixed;
  
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  
  background-size:cover;
  
  /* Se muestra un color de fondo mientras se está cargando la imagen
  
  de fondo o si hay problemas para cargarla */
  
  background-color: #669996;
  
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 10px;
}

/* dropdown btn navbar*/
.btn-group{
  justify-self: flex-end;
  right: 2%;
}

#btnGroupDrop1{
  padding: 0px; 
  border: 10px;
}

.avatarNAV{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  /* position: relative; */
}

.dropdown-menu {
  position: absolute; left: -100%; width: 175px;
}

.dropdown-item{
  padding-left: 15px;
  justify-self: center;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*estilo labels formularios y editar*/

label{
color: white;
}
/*fin estilo labels formularios y editar*/

footer {
background-color: black;
position:relative;
bottom: 0;
width: 100%;
color: white;
top:2rem;
}


.main__title{
color:white;
}
.card{
border-style:solid;
margin-left:8rem; 
margin-top:1rem;
float: none;
}
.container{
padding: 2rem;
height: 100%;
text-align: center;
background-color:darkslategray;
color: white;
width: 100%;

margin:0%;
}

.footer-{
padding: 4rem;
margin:0%
}
/*
.carousel-inner{ 
height: 25rem; }
.arouselExampleIndicators{
height: 25rem; }


.carousel, .carousel-inner{
height:25rem;
}*/

/* css formulario*/

.form-icon{
margin:20rem;
}
.registration-form{
padding: 50px 0;
}

.registration-form form{
background-color:#41464b;
max-width: 1000px;
margin: auto;
padding: 50px 70px;
border-radius: 20px;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
text-align: center;
background-color: #5891ff;
border-radius: 50%;
font-size: 40px;
color: white;
width: 100px;
height: 100px;
margin: auto;
margin-bottom: 50px;
line-height: 100px;
}

.registration-form .item{
border-radius: 20px;
margin-bottom: 25px;
padding: 10px 20px;
}

.registration-form .create-account{
border-radius: 30px;
padding: 10px 20px;
font-size: 18px;
font-weight: bold;
background-color: #cb892f;
border: none;
color: white;
margin-top: 20px;
}

.registration-form .social-media{
max-width: 600px;
background-color: #fff;
margin: auto;
padding: 35px 0;
text-align: center;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
color: #9fadca;
border-top: 1px solid #dee9ff;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
margin-top: 30px;
margin-bottom: 16px;
}

.registration-form .social-icons a{
font-size: 23px;
margin: 0 3px;
color: #5691ff;
border: 1px solid;
border-radius: 50%;
width: 45px;
display: inline-block;
height: 45px;
text-align: center;
background-color: #fff;
line-height: 45px;
}

.registration-form .social-icons a:hover{
text-decoration: none;
opacity: 0.6;
}

@media (max-width: 576px) {
  .registration-form form{
    padding: 50px 20px;
  }

  .registration-form .form-icon{

    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}
/* fin css formulario*/